@model InfoCenter.Models.ClientInfoSearchViewModel

@{
    ViewData["Title"] = "Поиск информации о клиенте";
}

<h1>Поиск информации о клиенте</h1>
<hr />

<form asp-controller="ClientInfo" asp-action="Index" method="get">
    <p>
        Телефон: <input type="text" asp-for="SearchPhone" />
        <input type="submit" value="Поиск" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientInfo[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientInfo[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientInfo[0].Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientInfo[0].Patronymic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClientInfo)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <td>
                    | <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                </td>
            </tr>
        }
    </tbody>
</table>
