@model InfoCenterMVC.Models.CustomerSearchViewModel

@{
    ViewBag.Title = "Ҷустуҷӯи маълумот дар бораи мизоҷ";
}

<h3>Ҷустуҷӯи маълумот дар бораи мизоҷ</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Поиск" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model != null && Model.Customers != null)
{
    foreach (var item in Model.Customers)
    {
    <h4>Маълумот дар бораи мизоҷ</h4>
    <div>
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(modelItem => item.CustomerId)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(modelItem => item.CustomerName)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(modelItem => item.CustomerAddress)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerAddress)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(modelItem => item.PhoneNumber1)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber1)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.PhoneNumber2)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber2)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.CreditCount)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditCount)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.CreditCountActive)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditCountActive)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.DepositCount)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepositCount)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.DepositCountActive)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepositCountActive)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.MTCount)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.MTCount)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.PaymentDate)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentDate)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.PaymentSum)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentSum)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.OverdueDay)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.OverdueDay)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.LoanOfficer)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoanOfficer)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.LoanOfficerPhone1)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoanOfficerPhone1)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.LoanOfficerPhone2)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoanOfficerPhone2)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.MTName)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.MTName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.MTSum)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.MTSum)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    }
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
